<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {
            'packages': ['corechart']
        });
        google.charts.setOnLoadCallback(drawChart);

        var realOrigData = [
            ['Task', 'Hours per Day'],
            ['도시락', 3],
            ['갈비탕', 2],
            ['오므라이스', 2],
            ['짬뽕', 2],
            ['비빔밥', 7],
            ['메밀소바', 3]
        ];

        function drawChart() {
            var data = google.visualization.arrayToDataTable(realOrigData);
            var options = {
                title: 'My Daily Activities',
                is3D: false
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }
    </script>
</head>

<body>
    <div id="app">
        <div id="piechart" style="width: 900px; height: 500px;"></div>
        <list-component v-on:menucntup="menuCountUp" v-bind:listarray="origData"></list-component>
    </div>

    <script>
        const ListComponent = {
            template: `
                <div>
                    <ul>
                        <li v-if="idx>0" v-for="(list,idx) in listarray">{{list[0]}}:{{list[1]}}<button v-on:click="menuCountUp(idx)">vote</button></li>
                    </ul>
                </div>
            `,
            data: function () {
                return {

                }
            },
            props: ['listarray'],
            methods: {
                menuCountUp: function (idx) {
                    this.$emit('menucntup', idx);
                }
            }
        }

        new Vue({
            el: '#app',
            data: {
                origData: realOrigData
            },
            methods: {
                menuCountUp: function (idx) {
                    let temp = this.origData[idx];
                    temp[1]++;
                    this.origData.splice(idx, 1, temp);
                    drawChart();
                },
            },
            components: {
                'list-component': ListComponent
            }
        })
    </script>
</body>

</html>