<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@2"></script>
</head>
<body>
  <div id="app">
    <h3>자식 컴포넌트 출력</h3>
    <!-- <my-component>{{myText}}</my-component> -->
    <!-- <my-component v-bind:parent="myText"></my-component> -->
    <my-component>
      <p>{{myText}}</p>
    </my-component>
  </div>
  <script>
    const myComponent={
      template:`
        <div>
          <slot></slot>
          <p>자식 컴포넌트의 내용</p>
        </div>
      `,
      // props:['parent']
    }

    let test = new Vue({
      el:'#app',
      data:{
        myText : '부모 컴포넌트의 데이터'
      },
      methods:{

      },
      components:{
        'my-component':myComponent
      }
    })
  </script>

  <div id="app1">
    <hr>
    <input type="text" v-model="message">
    <child-component v-bind:text="'부모 컴포넌트에서 데이터를 넘겨줍니다.'">
      <template v-slot:header>
        <p><em>헤더입니다.</em></p>
      </template>
      <template v-slot:footer>
        <h3>푸터입니다.</h3>
      </template>
    </child-component>
  </div>

  <script>
    const childComponent={
      template:`
        <div>
          <!-- header -->
          <slot name="header"></slot>  
          <!-- main -->
          <br>
          <h1>컴포넌트 자체 데이터입니다.</h1>
          {{ text }}
          <br>
          <!-- footer -->
          <slot name="footer"></slot>
        </div>
      `,
      props:['text']
    };

    let app=new Vue({
      el:'#app1',
      data:{
        message:'',
      },
      components:{
        'child-component':childComponent
      }
    })
  </script>

  <hr>
  <div id="app2">
    <form-component v-on:input-data="inputData">
      <h1>{{header}}</h1>
      <label for="first" slot="firstSlot">{{firstLabel}}</label>
      <label for="second" slot="secondSlot">{{secondLabel}}</label>
    </form-component>
    <div>
      <p>{{firstData}}</p>
      <p>{{ secondData }} </p>
    </div>
  </div>
  <script>
    const formComponent={
      template:`
        <div>
          <form>
            <slot></slot>
            <slot name="firstSlot"></slot>
            <input type="text" id="first" v-model="first">
            <br>
            <slot name="secondSlot"></slot>
            <input type="text" id="second" v-model="second">
            <br>
          </form>
          <button type="button" v-on:click="insert">등록</button>
        </div>
      `,
      data:function(){
        return{
          first:'',
          second:''
        }
      },
      methods:{
        insert:function(){
          this.$emit('input-data',this.first,this.second);
        }
      }
    }

    let inputApp = new Vue({
      el:'#app2',
      data:{
        header:'책 저자 폼',
        firstLabel:'제목 : ',
        secondLabel:'저자 : ',
        firstData:'',
        secondData:'',
      },
      methods:{
        inputData:function(first,second){
          this.firstData = first;
          this.secondData = second;
        }
      },
      components:{
        'form-component':formComponent
      }
    })
  </script>
  <hr>

  <div id="app3">
    <data-component v-bind:data-list="books">
      <h1 slot="header">{{header}}</h1>
      <template slot="data" slot-scope="child">
        <h2>
          <i>{{child.text.title}}</i>
          <small> by : {{child.text.author}}</small>
        </h2>
      </template>
    </data-component>
  </div>
  <script>
    const dataComponent = {
      template:`
        <div>
          <slot name="header"></slot>
          <slot name="data" v-for="data in dataList" v-bind:text="data"></slot>
        </div>
      `,
      props:['dataList']
    }
    let bookApp = new Vue({
      el:'#app3',
      components:{
        'data-component':dataComponent
      },
      data:{
        header:'책 제목',
        books:[
          {author:'John Smith',title:'Best of Times'},
          {author:'Jane Doe',title:'Go West Young Man'},
          {author:'Avery Katz',title:'The Life And Times of Avery'}
        ]
      }
    })
  </script>

</body>
</html>