<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="http://unpkg.com/vue@2"></script>
  <style>
    .strike-through{
      text-decoration: line-through;
      color: lightgray;
    }
    .dark{
      background-color: gray;
    }
  </style>
</head>
<body>
  <!-- v-bind:속성, v-on:이벤트 -->
  <div id="app">
    <p class="strike-through">클래스 지정</p>
    <p v-bind:class="myClass">bind 지정</p>
    <p v-bind:class="[{'strike-through':isOK},{'dark':isDark}]">bind2 지정</p>
  </div>
  <script>
    new Vue({
      el:'#app',
      data:{
        myClass:["strike-through","dark"],
        isOK:true,
        isDark:true
      }
    })
  </script>

  <!-- v-model -->
  <div id="app2">
    <input v-model="myName">
    <p>내 이름은 {{myName}}, {{myName.length}} 입니다.</p>

    <input type="checkbox" v-model="myCheck" true-value="yes" false-value="no">
    <div>
      <label><input type="checkbox" v-model="hobbies" value="reading">독서</label>
      <label><input type="checkbox" v-model="hobbies" value="movie">영화</label>
      <label><input type="checkbox" v-model="hobbies" value="writing">글쓰기</label>
      <p>취미:{{hobbies}}</p>
    </div>
    <div>
      <label><input type="radio" v-model="rData" value="reading">독서</label>
      <label><input type="radio" v-model="rData" value="movie">영화</label>
      <label><input type="radio" v-model="rData" value="writing">글쓰기</label>
      <p>취미:{{rData}}</p>
    </div>
  </div>
  <script>
    new Vue({
      el:'#app2',
      data:{
        myName:"",
        myCheck:"yes",
        hobbies:['reading','movie'],
        rData:'reading'
      }
    })
  </script>
</body>
</html>