<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="http://unpkg.com/vue@2"></script>
</head>
<body>
  <div id="app">
    <table border="1">
      <thead>
        <tr>
          <th v-for="n in 4">{{n+1}}단</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="m in 9">
          <td v-for="n in 4">{{n+1}} * {{m}} = {{(n+1)*m}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <script>
    new Vue({
      el:'#app',
      data:{

      }
    })
  </script>
</body>
</html>