<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@2"></script>
</head>

<body>
    <div id="app">
        <member-list v-if="listOK" v-bind:members="memberList" v-on:member-modify="memberModify"
            v-on:member-form="memberAddForm">
        </member-list>

        <member-add v-if="addOK" v-on:member-add="memberSave">
        </member-add>

        <member-modify v-if="modifyOK" v-bind:member="memberInfo" v-on:member-update="memberUpdate">
        </member-modify>
    </div>

    <script>
        // member-list.
        const MemberList = {
            template: `
            <div>
                <table id="list">
                    <tr>
                        <th>회원아이디</th><th>회원이름</th><th>나이</th><th>전화번호</th><th>수정</th>
                    </tr>
                    <tr v-for="member in members">
                        <td>{{member.id}}</td>
                        <td>{{member.name}}</td>
                        <td>{{member.age}}</td>
                        <td>{{member.tel}}</td>
                        <td><button v-on:click="memberModify(member)">수정</button></td>
                    </tr>
                </table>
                <button v-on:click="memberAddForm">추가</button>
            </div>
            `,
            props: ['members'],
            data: function () {
                return {
                    member: ''
                }
            },
            methods: {
                memberAddForm() {
                    this.$emit('member-form');
                },
                memberModify: function (member) {
                    this.$emit('member-modify',member);
                }
            }
        }

        // member-add.
        const MemberAdd = {
            template: `
            <div>
                <table id="list">
                    <tr>
                        <th>아이디</th>
                        <td><input type="text" v-model="id"></td>
                    </tr>
                    <tr>
                        <th>이름</th>
                        <td><input type="text" v-model="name"></td>
                    </tr>
                    <tr>
                        <th>나이</th>
                        <td><input type="text" v-model="age"></td>
                    </tr>
                    <tr>
                        <th>전화번호</th>
                        <td><input type="text" v-model="tel"></td>
                    </tr>
                    <tr>
                        <button v-on:click="memberSave">저장</button>
                    </tr>
                </table>
            </div>
            `,
            data: function(){
                return {
                    id: this.member.id,
                    name: this.member.name,
                    age: this.member.age,
                    tel: this.member.tel,
                }
            },
            methods: {
                memberSave:function(){
                    this.$emit('member-add', this.id, this.name, this.age, this.tel)
                }
            }
        }

        // member-modify.
        const MemberModify = {
            template: `
            <div>
                <table id="list">
                    <tr>
                        <th>아이디</th>
                        <td><input type="text" v-bind:value="member.id" style="display: none;"></td>
                        <td><input type="text" v-model="id" disabled></td>
                    </tr>
                    <tr>
                        <th>이름</th>
                        <td><input type="text" v-bind:value="member.name" style="display: none;"></td>
                        <td><input type="text" v-model="name"></td>
                    </tr>
                    <tr>
                        <th>나이</th>
                        <td><input type="text" v-bind:value="member.age" style="display: none;"></td>
                        <td><input type="text" v-model="age"></td>
                    </tr>
                    <tr>
                        <th>전화번호</th>
                        <td><input type="text" v-bind:value="member.tel" style="display: none;"></td>
                        <td><input type="text" v-model="tel"></td>
                    </tr>
                    <tr>
                        <button v-on:click="memberUpdate">수정</button>
                    </tr>
                </table>
            </div>
            `,
            props: ['member'],
            data: function () {
                return {
                    id: this.member.id,
                    name: this.member.name,
                    age: this.member.age,
                    tel: this.member.tel,
                }
            },
            methods: {
                memberUpdate: function () {
                    this.$emit('member-update', this.id, this.name, this.age, this.tel);
                }
            }
        }

        let vm = new Vue({
            el: '#app',
            components: {
                'member-add': MemberAdd,
                'member-list': MemberList,
                'member-modify': MemberModify
            },
            data: {
                listOK: true,
                addOK: false,
                modifyOK: false,
                memberList: [],
                memberInfo: {}
            },
            methods: {
                memberAddForm() {
                    this.listOK = false;
                    this.addOK = true;
                    this.modifyOK = false;
                },
                memberModify: function (member) {
                    this.memberInfo = member;

                    // 화면이동.
                    this.listOK = false;
                    this.addOK = false;
                    this.modifyOK = true;
                },
                memberUpdate: function (id, name, age, tel) {
                    // 정보변경.
                    for(let idx in this.memberList){
                        if(this.memberList[idx].id==id){
                            this.memberList[idx].name=name;
                            this.memberList[idx].age=age;
                            this.memberList[idx].tel=tel;
                        }
                    }
                    // 화면이동.
                    this.listOK = true;
                    this.addOK = false;
                    this.modifyOK = false;
                },
                memberSave(id, name, age, tel) {
                    // 정보추가.
                    this.memberList.push({id:id,name:name,age:age,tel:tel});
                    // 화면이동.
                    this.listOK = true;
                    this.addOK = false;
                    this.modifyOK = false;
                }
            },
            created: function () {
                axios.get('./members.json')
                    .then(result => this.memberList = result.data)
                    .catch(err => console.lor(err))
            }
        })
    </script>
</body>

</html>